@charset "utf-8";
h1 {
  color: #000000;
  font-family: "Footlight MT Light";
  font-style: italic;
  /* [disabled]font-size: medium; */
  text-decoration: underline;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  position: static;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
p {
    padding-left: 17px;
    padding-top: 14px;
    float: left;
    border-radius: 19px;
    text-align: center;
}
h1 {
  color: #FEFEFE;
  font-style: italic;
  padding-top: 109px;
  padding-bottom: 0px;
  min-width: 0px;
}
h2 {
  color: #FFFDFD;
  font-family: "Footlight MT Light";
  font-style: italic;
  font-size: 1em;
  text-align: center;
}
footer {
  font-size: small;
  position: fixed;
  top: auto;
  width: 100%;
  bottom: 0px;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 252, 252, 0.00) 0%, rgba(6, 6, 6, 1.00) 100%);
  background-image: -moz-linear-gradient(270deg, rgba(255, 252, 252, 0.00) 0%, rgba(6, 6, 6, 1.00) 100%);
  background-image: -o-linear-gradient(270deg, rgba(255, 252, 252, 0.00) 0%, rgba(6, 6, 6, 1.00) 100%);
  background-image: linear-gradient(180deg, rgba(255, 252, 252, 0.00) 0%, rgba(6, 6, 6, 1.00) 100%);
  height: 40px;
  right: 0px;
  left: 0px;
  clear: both;
  text-align: center;
}
h3 {
  color: #83C894;
  font-family: Script;
  font-style: italic;
  font-size: 4em;
  text-align: center;
  text-decoration: underline;
  padding-left: 13px;
  left: 0%;
}
nav {}
body img {
  float: none;
  border: medium ridge #FFFDFD;
  left: 12%;
  margin-left: 22px;
  margin-top: 0px;
  display: block;
}
body {
  color: #FFFFFF;
  background-attachment: fixed;
  background-size: cover;
  background-color: #51BF86;
  background-image: url(url);
  width: auto;
}
body img {
  display: inline;
  border-radius: 14px;
}
section {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  width: 40%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 1%;
    margin-right: 5%;
  float: right;
}
body nav a {
  color: #93C883;
  font-family: "Footlight MT Light";
  text-decoration: none;
}
.navlist {
  list-style-type: none;
  background-color: #FFFFFF;
  overflow-x: hidden;
}
.navlistitem {
  float: left;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
}
.navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
  font-style: italic;
  font-weight: bold;
  font-size: large;
  color: #7BD798;

}

.navbar-nav.mr-auto .nav-item .nav-link:hover {
  color: #4BBC66;
}
  h3 {
    color: #83C894;
    font-family: Script;
    font-style: italic;
    font-size: 4em;
    text-align: center;
    text-decoration: underline;
    padding-left: 2.5%;
    left: 0%;
    padding-right: 2.5%;
  }
.h3 {
    width: 99%;
}

@media (max-width: 600px) {
  .aside {
    text-align: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 80%;
    color: #FFFFFF;
    font-weight: bold;
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  p {
    width: 75%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 50%;
  }
  #Image2 {
    width: 80%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: block;
    height: 80%;
    border-width: 80%;
  }
  h1 {}
  .pagetwo {
    width: 90%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .grooming {
    border-radius: 76px;
    width: 25%;
    float: left;
    margin-top: 17px;
    margin-right: 17px;
    margin-bottom: 17px;
    margin-left: 17px;
    border-style: none;
    overflow-x: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
	
	
  section {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 1%;
    margin-right: 5%;
    float: right;
  }
  #Image2 {
    width: 90%;
  }
}
p {
  text-align: center;
}
.paragraph {
  text-align: center;
  padding-top: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  padding-left: 17px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  top: 0%;
  left: 19em;
  right: 17em;
  width: 770px;
  height: 800px;
}
.textone {
  text-align: center;
}
.line {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 700px;
  height: 800px;
  border-radius: 12px;
  color: #FFFFFF;
  font-weight: bold;
  display: block;
}
.grooming {
  border-radius: 76px;
  width: 90%;
  float: left;
  margin-top: 17px;
  margin-right: 17px;
  margin-bottom: 17px;
  margin-left: 17px;
  border-style: none;
  overflow-x: auto;
}
.daycare {
  border-radius: 76px;
  width: 32em;
  height: 20em;
  float: left;
  margin-top: 17px;
  margin-right: 17px;
  margin-bottom: 17px;
  margin-left: 17px;
  border-style: none;
  overflow-x: auto;
}
.pagetwo {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 40%;
  padding-left: 2%;
  padding-right: 4px;
  margin-left: 9%;
  margin-right: 50px;
  float: left;
  border-style: none;
  display: block;
  position: absolute;
  left: 20%;
}
.treats {
  width: 337px;
  height: 250px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: run-in;
  padding-left: 10px;
  clear: both;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-style: none;
}
.aside {
  text-align: center;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 700px;
  height: 800px;
  color: #FFFFFF;
  font-weight: bold;
  display: block;

}
